@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #38bdf8;
  --color-secondary: #64748b;
  --color-dark: #0f172a;
  --color-darkb: #1d293d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
html {
  scroll-behavior:smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}


.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-primary;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }

  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
  }
  

/*bg-yellow-200 sm:bg-yellow-400 md:bg-yellow-600 lg:bg-yellow-700 xl:bg-slate-500 2xl:bg-red-400 */